---
import SkillCard from './SkillsCardar.astro';
---

<p class="mb-4">هذه هي الأدوات أو اللغات التي أجيدها بشكل جيد أو أملك خبرة معقولة فيها.</p>
<div class="grid grid-cols-1 md:grid-cols-4 gap-6">
<SkillCard Lang="فيجول كود" icon="vscode-icons:file-type-vscode2" />
<SkillCard Lang="جافا سكربت" icon="logos:javascript" />
<SkillCard Lang="بايثون" icon="logos:python" />
<SkillCard Lang="إتش تي إم إل" icon="logos:html-5" />
<SkillCard Lang="أسترو" icon="vscode-icons:file-type-astro" />
<SkillCard Lang="سي اس اس" icon="vscode-icons:file-type-css" />
<SkillCard Lang="سيكول" icon="vscode-icons:file-type-sql" />
<SkillCard Lang="بي ال - سيكول" icon="vscode-icons:file-type-plsql" />
</div>
