---
import SkillCard from './SkillsCard.astro';
---
<p class="mb-4">These are tools or languages that I'm either fluent in, or have a decent amount of experience with.</p>
<div class="grid grid-cols-1 md:grid-cols-4 gap-6">
<SkillCard Lang="VS Code" icon="vscode-icons:file-type-vscode2" />
<SkillCard Lang="Javascript" icon="logos:javascript" />
<SkillCard Lang="Python" icon="logos:python" />
<SkillCard Lang="HTML" icon="logos:html-5" />
<SkillCard Lang="Astro" icon="vscode-icons:file-type-astro" />
<SkillCard Lang="CSS" icon="vscode-icons:file-type-css" />
<SkillCard Lang="SQL" icon="vscode-icons:file-type-sql" />
<SkillCard Lang="PL-SQL" icon="vscode-icons:file-type-plsql" />
</div>