---
import { Icon } from "astro-icon";
---
<style>
    #Icon{
     -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#Icon:hover{
    color: #0e6dc7;

}
</style>
<div class="icoon">
   <a href="mailto:mohaqahtani77@gmail.com" target= "_blank"> <Icon pack="mdi" name="email" id="Icon" class="fill-gray-800 dark:fill-white h-[1.8em] w-[1.8em] inline mr-1" /></a> 
   <a href="https://x.com/20_h" target= "_blank"> <Icon pack="mdi"  name="twitter"  id="Icon" class="fill-gray-800 dark:fill-white h-[1.8em] w-[1.8em] inline mr-1" /> 
   <a href="https://github.com/mq0j" target= "_blank">  <Icon pack="mdi" name="github"  id="Icon" class="fill-gray-800 dark:fill-white h-[1.8em] w-[1.8em] inline mr-1" /> 
  </div>